/* :root { */
  /* --theme-text-color: var(--tg-theme-text-color, #aaa); */
  /* --theme-bg-color: var(--tg-theme-bg-color, #444); */
  /* --theme-secondary-bg-color: var(--tg-theme-secondary-bg-color, #222); */
  /* --theme-header-bg-color: var(--tg-theme-header-bg-color, #111); */
/* } */

html {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: white;
	/* color: var(--theme-text-color) !important; */
	/* background: var(--theme-bg-color); */
}

body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

a {
  color: #000 !important;
  text-decoration: none
}


#root {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#App {
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
}

#page-wrap {
  text-align: center;
  overflow: auto;
  top: 45%;
  position: relative;
}

.header {
  /* color: red; */
  padding-top: 4px;
  padding-left: 45px;
  /* background-color: var(--theme-header-bg-color); */
}

.header h5 {
  padding-bottom: 5px;
}

.list_header {
  /* background-color: var(--theme-secondary-bg-color); */
  /* border-color: black; */
  /* border-top: black 2px solid; */
  /* border-bottom: black 1px solid; */
  padding-left: 10px;
}

.list_header h6 {

}

.menu {
  /* background-color: red; */
  /* margin-top: 20px; */
  display: block;
  float: left;
  /* color: var(--theme-header-bg-color); */
  /* position: absolute; */
}

.linkMenu {
  width: 100%;
}

.fabAdd {
  position: fixed;
  /* width: 100px; */
  /* height: 100px; */
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}

.pageWrapper {
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
}

.pageWrapperInput {
  width: 100%;
}

.pageWrapperButtonGroup {
  margin-top: 15px;
}

.pageWrapperButton {
  width: 50%;
}

label.MuiFormControlLabel-root {
  margin-left: 0px;
  margin-right: 0px;
}
